.parking-lot-input-default input{
    font-family: Roboto;
}

.parking-lot-input-default input.select-dropdown{
    color:lightgray;
}

.parking-lot-input-active input.select-dropdown{
    color:black
}